-- Fix profiles table RLS policies
-- Create profiles table if it doesn't exist (common in Supabase Auth)
CREATE TABLE IF NOT EXISTS profiles (
  id UUID PRIMARY KEY REFERENCES auth.users(id) ON DELETE CASCADE,
  full_name TEXT,
  email TEXT,
  created_at TIMESTAMPTZ DEFAULT NOW(),
  updated_at TIMESTAMPTZ DEFAULT NOW()
);

-- Enable RLS on profiles table but allow service role bypass
ALTER TABLE profiles ENABLE ROW LEVEL SECURITY;

-- Drop existing policies if they exist
DROP POLICY IF EXISTS "Allow read access for authenticated users" ON profiles;
DROP POLICY IF EXISTS "Allow insert for authenticated users" ON profiles;
DROP POLICY IF EXISTS "Allow update for authenticated users" ON profiles;

-- Create policies that work with the service role
CREATE POLICY "Allow profiles read access for users" ON profiles
  FOR SELECT USING (auth.uid() = id OR auth.is_authenticated());

CREATE POLICY "Allow profiles insert with service role" ON profiles
  FOR INSERT WITH CHECK (true);

CREATE POLICY "Allow profiles update for own profile" ON profiles
  FOR UPDATE USING (auth.uid() = id OR auth.is_authenticated());

-- Make sure service role can bypass RLS
ALTER TABLE profiles FORCE ROW LEVEL SECURITY;

