-- Fix missing contacts table

-- First check if the contacts table exists, if not create it
DO $$
BEGIN
    IF NOT EXISTS (
        SELECT FROM pg_catalog.pg_tables
        WHERE schemaname = 'public'
        AND tablename = 'contacts'
    ) THEN
        -- Create the contacts table
        CREATE TABLE public.contacts (
            id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
            name VARCHAR NOT NULL,
            email VARCHAR NOT NULL,
            lead_id UUID NOT NULL REFERENCES leads(id) ON DELETE CASCADE,
            is_primary BOOLEAN DEFAULT FALSE,
            created_at TIMESTAMPTZ DEFAULT NOW(),
            updated_at TIMESTAMPTZ DEFAULT NOW()
        );
        
        -- Create index for better query performance
        CREATE INDEX idx_contacts_lead_id ON contacts(lead_id);
        
        -- Now enable RLS on this table
        ALTER TABLE contacts ENABLE ROW LEVEL SECURITY;
        
        -- Add RLS policies for the contacts table
        CREATE POLICY "Allow read access for authenticated users" ON contacts
            FOR SELECT USING (auth.is_authenticated());
            
        CREATE POLICY "Allow insert for authenticated users" ON contacts
            FOR INSERT WITH CHECK (auth.is_authenticated());
            
        CREATE POLICY "Allow update for authenticated users" ON contacts
            FOR UPDATE USING (auth.is_authenticated());
            
        ALTER TABLE contacts FORCE ROW LEVEL SECURITY;
    END IF;
END
$$;
