-- Add RLS policies for DealPig application

-- Create a custom auth function to check if user is authenticated
CREATE OR REPLACE FUNCTION auth.is_authenticated()
RETURNS BOOLEAN AS $$
BEGIN
  RETURN auth.uid() IS NOT NULL;
END;
$$ LANGUAGE plpgsql SECURITY DEFINER;

-- Apply RLS policies only to tables that exist
DO $$
DECLARE
    table_name text;
    tables text[] := ARRAY['leads', 'contacts', 'lead_sources', 'senders', 'templates', 
                          'campaigns', 'campaign_senders', 'campaign_leads', 'emails'];
BEGIN
    FOREACH table_name IN ARRAY tables
    LOOP
        -- Check if the table exists
        IF EXISTS (
            SELECT FROM pg_catalog.pg_tables 
            WHERE schemaname = 'public' 
            AND tablename = table_name
        ) THEN
            -- Enable RLS on table
            EXECUTE format('ALTER TABLE %I ENABLE ROW LEVEL SECURITY', table_name);
            
            -- Create read policy
            EXECUTE format('CREATE POLICY "Allow read access for authenticated users" ON %I
                           FOR SELECT USING (auth.is_authenticated())', table_name);
            
            -- Create insert policy
            EXECUTE format('CREATE POLICY "Allow insert for authenticated users" ON %I
                           FOR INSERT WITH CHECK (auth.is_authenticated())', table_name);
            
            -- Create update policy
            EXECUTE format('CREATE POLICY "Allow update for authenticated users" ON %I
                           FOR UPDATE USING (auth.is_authenticated())', table_name);
            
            -- Force RLS 
            EXECUTE format('ALTER TABLE %I FORCE ROW LEVEL SECURITY', table_name);
            
            RAISE NOTICE 'Applied RLS policies to table: %', table_name;
        ELSE
            RAISE NOTICE 'Table % does not exist, skipping', table_name;
        END IF;
    END LOOP;
    
    -- Special policy for tracking route which needs to be publicly accessible
    IF EXISTS (
        SELECT FROM pg_catalog.pg_tables 
        WHERE schemaname = 'public' 
        AND tablename = 'emails'
    ) THEN
        EXECUTE format('CREATE POLICY "Allow public access to tracking data" ON emails
                       FOR SELECT USING (
                       current_setting(''request.path'', TRUE) LIKE ''%%/api/tracking%%'' OR 
                       auth.is_authenticated()
                       )');
    END IF;
END;
$$;
